@model IEnumerable<SFH.Models.tbl_Movement>

@{
    ViewBag.Title = "IndexMonth";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>IndexMonth</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="card-columns">
    <div class="card p-5" style="background-color: #F2EEB3;">
        <h1 class="card-title">Card title</h1>
        <h4 class="card-title text-muted">Card title</h4>
        <p class="card-text h2 text-right" >+$ 5000</p>
        <div class="btn btn-primary w-100 mt-3" style="background-color:#095F73; color:white;">Details</div>
    </div>
    <div class="card">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
</div>
